:root{
    --amarele200:#ffbe0a;
    --amarelo100:#83f023;
    --laranja:#e94e18;
    --laranja100:#d0330c;
    --laranja200:#d0330c;
    --cinza100:#131313;
    --cinza200:#131313; 
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--cinza100);
}

h1{
    color: var(--amarele200);
    align-items: center;
    justify-content: center;
    display: flex;
    height: 63px;
    font-size: 39px;
    
}

table
{
    height: 60px;
    font-size: 21px;
}

th
{
  color: #d0330c;
}

td
{
  color: #f0f0bc;
}

form
{
    height: 60px;
    font-size: 21px;
    color: var(--laranja100);
}

a 
{
 color: #f3f3df;
 padding: 30px;
}
ul
{
  list-style: none;
display: flex;
justify-content: center;

}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 90%;
}



#fundo-login{
    background-color: #f0f0f0;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    width: 15%;
    height: 60%;
}

#fundo-cadastro-usuario{
    background-color: #f0f0f0;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    width: 15%;
    height: 60%;
}

#login{
    align-items: center;
    justify-content: center;
    display: flex;
}

#btn-login{
    width: 100%;
}
a#cadastro{
    position: absolute;
    position: relative;
    top: 35%;
}
a:any-link{
    color: #d39c07;
}

.titulo{
    bottom: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: initial;
}

.titulo{
    bottom: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#titulo-cadastro-user{
    bottom: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

#subtitulo{
    bottom: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

#cadastro-admin{
    bottom: 20%;
    position: relative;
}

#lista-usuario-admin{
    position: relative;
    top: 60%;
}