:root{
    --amarele200:#f39200;
    --amarelo100:#f0b323;
    --laranja:#e94e18;
    --vermelho100:#af231c;
    --vermelho200:#680707;
    --cinza100:#9d9d9c;
    --cinza200:#131313; 
}

body{
    width: 100%;
    height: 100vh;
    background-color: var(--cinza200);
}

h1{
    display: flex;
    justify-content: center;
}